version: '3.8'

services:
  user-db:
    image: postgres:15-alpine
    container_name: user-db
    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - user-data:/var/lib/postgresql/data
      - ./init-scripts/user-db-init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - innowise-network
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d userdb"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  auth-db:
    image: postgres:15-alpine
    container_name: auth-db
    environment:
      POSTGRES_DB: authdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - auth-data:/var/lib/postgresql/data
      - ./init-scripts/auth-db-init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - innowise-network
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d authdb" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  redis:
    image: redis:7-alpine
    container_name: redis-cache
    ports:
      - "6379:6379"
    networks:
      - innowise-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3

  userservice:
    build:
      context: ../
      dockerfile: userservice/Dockerfile
    container_name: userservice
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DB_HOST: user-db
      DB_PORT: 5432
      DB_NAME: userdb
      DB_USERNAME: user
      DB_PASSWORD: password
      REDIS_HOST: redis-cache
      REDIS_PORT: 6379
      JAVA_OPTS: "-Dspringdoc.api-docs.path=/v3/api-docs -Dspringdoc.swagger-ui.path=/swagger-ui.html"
    ports:
      - "8081:8081"
    depends_on:
      user-db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - innowise-network
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8081/actuator/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3

  authservice:
    build:
      context: ../
      dockerfile: authservice/Dockerfile
    container_name: authservice
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DB_HOST: auth-db
      DB_PORT: 5432
      DB_NAME: authdb
      DB_USERNAME: user
      DB_PASSWORD: password
      JAVA_OPTS: "-Dspringdoc.api-docs.path=/v3/api-docs -Dspringdoc.swagger-ui.path=/swagger-ui.html"
    ports:
      - "8082:8082"
    depends_on:
      auth-db:
        condition: service_healthy
    networks:
      - innowise-network
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/actuator/health || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3

  test-postgres:
    image: postgres:15-alpine
    container_name: test-postgres
    ports:
      - "5439:5432"
    environment:
      POSTGRES_DB: test
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U test -d test"]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  innowise-network:
    driver: bridge

volumes:
  user-data:
  auth-data:
