name: Gradle CI/CD Pipeline

on:
  push:
    branches: [ "dev", "main" ]
  pull_request:
    branches: [ "dev", "main" ]

jobs:

  ci-build-test:
    name: CI - Build & Test
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: testdb
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
        ports:
          - 5434:5432
        options: >-
          --health-cmd="pg_isready"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build project
        run: ./gradlew clean build -x test

      - name: Run tests and coverage
        run: |
          find . -name "*Tests.java" -type f -delete || true
          ./gradlew test jacocoTestReport

      - name: SonarCloud Scan
        run: |
          ./gradlew sonar \
            -Dsonar.projectKey=YauhenNohach_innowise_internship \
            -Dsonar.organization=yauhennohach \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}

      - name: Upload JAR artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jar-artifacts
          path: |
            */build/libs/*.jar
            !build/libs/
          retention-days: 7

  cd-dev:
    needs: ci-build-test
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/dev'

    steps:
      - uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: jar-artifacts

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker images (dev)
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/user-service:dev-latest -t ${{ secrets.DOCKER_USERNAME }}/user-service:${{ github.sha }} -f user-service/Dockerfile .
          docker push ${{ secrets.DOCKER_USERNAME }}/user-service:dev-latest
          docker push ${{ secrets.DOCKER_USERNAME }}/user-service:${{ github.sha }}


      - name: Deploy to Dev environment
        run: echo "Deploying to dev environment..."